:root {
  --sl-color-accent-low: #064e3b;
  --sl-color-accent: #059669;
  --sl-color-accent-high: #34d399;
  --sl-color-white: #fafafa;
  --sl-color-gray-1: #e4e4e7;
  --sl-color-gray-2: #a1a1aa;
  --sl-color-gray-3: #71717a;
  --sl-color-gray-4: #3f3f46;
  --sl-color-gray-5: #27272a;
  --sl-color-gray-6: #18181b;
  --sl-color-black: #09090b;
}

:root[data-theme='light'] {
  --sl-color-accent-low: #d1fae5;
  --sl-color-accent: #059669;
  --sl-color-accent-high: #064e3b;
}
